:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.button-contact{
  color: rgb(37, 46, 109);
  cursor: pointer;
  height: auto;
  align-self: flex-start;
  padding: 10px;
  margin: 0 !important;
  border-radius: 5px;
  /* background-color: rgb(37, 46, 109); */
  border: 2px solid rgb(37, 46, 109);
  display: inline-block;
  text-decoration: none;

}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Content {
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}

th {
  text-transform: uppercase;
}
.text-title {
  color: rgb(37, 46, 109);
  font-size: 1.3em;
}
.text-price{
  color: gray;
  font-size: 0.9em;
font-weight: 600;
margin: 15px;
}

.one-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-box {
  border: 1px solid rgb(168, 168, 168);
}

.icon-green {
  color: #479E45;
  padding: 0 15px 0 15px;
  font-size: 1.25rem;
}

.home-pricing {
  width: 100%;
  padding: 30px;
  background-image: url("public/footerbackgounr-1500w.webp");;
  /* background-color: #f5f5f5; */
}
.home-pricing thead {
  display: flex;
  justify-content: center;
  border-bottom-width: 1px;
  
}
.home-pricing .table {
  padding-top: 30px;
}
.home-pricing .card-popular {
  border: 5px solid #FB6A00;
}
.home-pricing .btn-popular {
  background-color: #FB6A00;
  color: white;
  border: none !important;

}
.home-pricing .table>:not(caption)> * > * {
border: none !important;
}

.home-pricing tbody td {
  line-height: 20px;
  min-height: 20px;
}
.col-service {
  padding: 10px;
}
.popular {
  position: absolute;
  top: -30px;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* border: 1px solid rgba(224, 26, 26, 0.2); */
  background-color: white;
  border-radius: 5px;
  color: white;
}

.button:hover {
  transform: scale(1.1);
  animation:none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

@keyframes jump {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-10px);
  }
}

.button {
  animation: jump 2s infinite;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.feature-container {
  flex-direction: column;
  justify-content: space-around;
  display: flex;
}